html {
    display: table;
    margin: auto;
}

h1 {
    color:#FD3456;
    text-align: center;
}

body {
    font-family: monospace;
    font-size: 24px;
    background-color: #290042;
    color:#fff;

    display: table-cell;
    vertical-align: middle;
}

a {
    color:#FD3456;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#ta-binary {
    text-align: left;
    font-family: monospace;
    font-size:24px;
    width:300px;
}

.inp-binary {
    font-size:24px;
    color:#000000;
    font-family: monospace;
    background-color: #D3DCE9;
    border:none;
}

#span-disclaimer {
    position:absolute;
    bottom:10px;
    right:10px;
}


.no-border {
    border:none !important;
}

.clr-white {
    color:#ffffff;
}

.clr-red {
    color:#ff0000;
}

.clr-orange {
    color:#ffbf00;
}

.clr-green {
    color:#00ff00;
}

.clr-yellow {
    color:#ffff00;
}

.clr-lightblue {
    color:#65D1FF;
}

.clr-pink {
    color:#ff00ff;
}

.clr-gray {
    color:#909090;
}




.span-info {
    font-size: 16px;
}

.span-char {
    font-size: 52px;
}


.td-utf8 {
    vertical-align: top;
}


.tr-utf8-bytes {
    font-size:16px;
    vertical-align: top;
}

.tbl-utf8 tr {
}

.tbl-utf8 td {
    text-align: center;
    padding-left:10px;
    padding-right:10px;
    border:1px solid #909090;
}

.tr-padding td {
    height:50px;
    border:none;
}


.table-payload {
    margin: auto;
}

.table-payload td {
    border:none;
}


.span-utf8-leading {
    color:#ff00ff;
}

.span-utf-continuation {
    color:#a8a8ff;
}

.span-utf8-payload {
    color:#ffff00;
}

.td-symbol {
    text-align: center;
    font-size:72px;
}
